/* Structure */
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 62.5%/1.4 geneva, verdana, tahoma;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    --primary: ivory;
    --secondary: black;
    --dark: grey;
    --light: silver;
    --theme: rgb(0,65,80);
    --highlight: rgb(200,205,80);
  }
  
/* Style */
  html,
  body {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    overflow: auto;
    color: var(--dark);
    background: var(--primary);
  }

  #wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
    
  #main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    min-height: 100vh;
    padding: 50px 0;
    justify-content: space-evenly;
  }

  body,
  header,
  footer {
    box-sizing: border-box;
  }

  header {
    top: 0;
    position: fixed;
  }

  header, 
  footer {
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 10px 20px;
  }
  
  footer {
    bottom: 0;
    font-size: 1.4rem;
    position: absolute;
    color: var(--primary); 
    background: var(--theme);  
  }

  footer #text {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
    
/* Content */
  h1,
  h2,
  h3 {
    opacity: 0.8;
  }
  
  p {
    font-size: 1.5rem;
  }
    
  h1 {
    padding: 0;
    font-size: 2.5rem;
    color: var(--theme);
    text-align: center;
    text-transform: uppercase;
    animation: slideDown 1s ease;
    -webkit-animation: slideDown 1s ease;
}
  
  h2 {
    padding: 0;
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
  }
  
  nav a {
  color: var(--theme);
  } 
  
  a:hover {
    border-bottom: 2px solid var(--highlight);
  }

  .current {
    color: var(--highlight);
  }
  
  li {
    list-style: none;
    font-size: 1.5rem;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  svg,
  img {
    max-width: 100%;
  }

  article {
    width: 85%;
  }

  section {
    width: 600px;
  }

  article,
  section {
    padding: 20px;
  }
  
/* Navigation */ 
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
  
  #logo,
  #menu {
    text-transform: uppercase;
  }
  
  #logo {
    width: 10%;
    opacity: .8;
  }
  
  #logo a {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
  }
  
  #menu {
    width: 90%;
  }
  
  #menu ul {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
  }
  
  #menu li {
    padding: 10px;
  }
   
/* Animation */
@keyframes slideRight {
  0% {
    transform: translateX(15%);
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    -o-transform: translateX(15%);
}

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
}

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
}

  100% {
    transform: translateY(0%);
  }
}

/* Common */
.home,
.legal,
.company,
.projects,
.questions,
.conditions,
.contact {
  max-width: 1080px;
  margin: auto;
}

/* Landing */
  .home h1 {
    border-bottom: solid 2px var(--highlight);
    animation: slideRight 1s;
    -webkit-animation: slideRight 1s;
}

  .home p {
  animation: slideLeft 1s;
  -webkit-animation: slideLeft 1s;
}
    
.home svg {
  opacity: .8;
}

/* Service */
  .services {
  max-width: 1150px;
  }
  .services h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .features h3 {
    border-bottom: solid 2px var(--highlight);
    text-align: center;
  }

  .features svg {
    width: 125px;
    display: block;
    margin: auto;
    color: var(--light);
    opacity: .9;
  }

  .features svg:hover {
    color: var(--theme);
    opacity: .8;
  }

  .features,
  .team,
  .work {
    width: 300px;
    margin: 10px;
  }

  .rates {
    width: 600px;
    margin: 10px;
    text-align: center;
    background-color: rgba(0,65,80, .1);
    border-radius: 10px;
  }

/* Legal */
  .legal h1 {
    color: var(--dark);
  }
  
/* Company */
  .company,
  .services,
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .team,
  .work {
    text-align: center;
  }

  .projects img {
   border-radius: 5%;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
}

  .team img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.values {
  width: 225px;
}

.values h3 {
  border-top: solid 2px var(--highlight);
  text-align: center;
}

.values svg {
  width: 50px;
  display: block;
  margin: auto;
  color: var(--light);
  opacity: .9;
}

/* Contact */

  .fa-smile-wink {
    max-width: 300px;
    color: rgba(0,65,80, .5);
    padding-top: 4rem;
  }
  .thanks h1 {
    padding: 1rem;
    border-bottom: solid 3px var(--theme);
  }
  .contact h2 {
    text-align: center;
    color: var(--theme);
    border-bottom: solid 2px var(--highlight);
  }

  .contact svg:hover {
    color: var(--theme);
  }
  
  .contact-form-text {
    margin: 1rem 0;
    padding: 0 1rem;
    outline: none;
  }
  
  textarea.contact-form-text {
    resize: none;
    height: 15rem;
  }
  .contact-form-btn {
    text-align: center;
    background: var(--light);
    color: var(--secondary);
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  
  .contact-form-btn:hover {
    background: rgba(0,65,80, .5);
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
  }
  
  .contact-form-text:focus {
    outline: solid 2px rgba(0,65,80, .5);
  }
  
  input[type="text"]:valid,
  input[type="email"]:valid {
    background-color: rgba(0,65,80, .5);
  }
  
  .fa-email,
  .fa-github,
  .fa-facebook,
  .fa-instagram,
  .fa-twitter,
  .fa-linkedin {
    width: 35px;
    color: var(--light);
  }
  .fa-instagram,
  .fa-linkedin {
    width: 33px;
  }
  
  .contact ul {
    text-align: center;
    padding: 25px;
  }
  
  .contact li {
    padding: 5px;
    display: inline;
    line-height: 3rem;
    list-style: none;
  }
  
  button,
  input,
  textarea {
    display: block;
    width: 100%;
    height: 3rem;
    border: 0;
    border-radius: 0.5rem;
    background: var(--light);
    color: var(--secondary);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  
/* Media Queries */
@media screen and (max-width: 600px) {
 
    #logo,
    #menu,
    #main,
    article,
    section {
      width: 100%;
    }

    #main {
      padding: 50px 0;
    }
  
    #logo {
      text-align: center;
    }

    #menu ul {
      justify-content: space-evenly;
    }
    h1 {
      font-size: 2rem;
    }
}

@media all and (orientation: landscape) and (max-height: 400px){
  footer {
    display: none;
  }

  #main {
    padding-bottom: 20px;
  }
  .fa-smile-wink {
    padding-top: 1rem;
  }
}