/* Structure */
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 62.5%/1.4 geneva, verdana, tahoma;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    --primary: white;
    --secondary: black;
    --dark: grey;
    --light: silver;
    --theme: rgb(0,128,255);
    --highlight: rgb(255,128,0);
  }
  
  /* Style */
  html,
  body {
    background: var(--primary);
    color: var(--dark);
    overflow: auto;
    margin: auto;
    width: 100%;
    min-height: 100vh;
  }
  
  #wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
    
  #main {
    max-width: 1600px;
    min-height: 90vh;
    padding-top: 50px;
    padding-bottom: 150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  header {
    top: 0;
    position: fixed;
    background: var(--secondary);
    border-bottom: solid 2px var(--highlight);
  }

  footer {
    bottom: 0;
    position: absolute;
    background: var(--theme);
    
  }
  
  header,
  footer {
    width: 100%;
    opacity: 0.8;
    color: var(--primary);
    z-index: 1;
    overflow: hidden;
  }
    
  /* Content */
  h1,
  h2,
  h3 {
    opacity: 0.9;
  }
  
  p {
    font-size: 1.5rem;
  }
    
  h1 {
    padding: 0;
    opacity: .7;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--theme);
}
  
  h2 {
    padding: 0;
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
  }
  
  a:hover {
    border-bottom: 2px solid var(--highlight);
}

  .current {
    color: var(--highlight);
  }
  
  li {
    list-style: none;
    font-size: 1.5rem;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  svg,
  img {
    max-width: 100%;
  }

  article {
    width: 90%;
  }

  section {
    width: 600px;
  }

  article,
  section {
    padding: 20px;
  }
  
  /* Navigation */
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }
  
  #logo,
  #menu {
    text-transform: uppercase;
  }
  
  #logo {
    width: 10%;
  }
  
  #logo a {
    font-size: 2rem;
    padding: 0 20px;
  }
  
  #menu {
    width: 90%;
  }
  
  #menu ul {
    display: flex;
    justify-content: flex-end;
  }
  
  #menu li {
    padding: 10px;
  }
   
  /* Header & Footer */
      
  footer p {
    text-align: right;
    padding-right: 20px;
    font-size: 1.4rem;
  }

  header h3 {
    text-align: center;
    text-transform: uppercase;
  }

  /* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(15%);
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    -o-transform: translateX(15%);
}

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
}

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
}

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
}

  100% {
    transform: translateY(0%);
  }
}
  
/* Common */

header h3:hover {
color: var(--highlight);
}

.home,
.legal,
.company,
.contact {
  max-width: 1080px;
  margin: auto;
}

/* Landing */

  .home h1 {
    border-bottom: solid 2px var(--highlight);
    animation: slideRight 1s;
    -webkit-animation: slideRight 1s;
}

  .home p {
  animation: slideLeft 1s;
  -webkit-animation: slideLeft 1s;
}
    
  .fa-seedling {
    display: block;
    width: 50%;
    opacity: .6;
    color: var(--theme);
    margin: auto;
    padding-top: 1rem;
  }

  /* Service */

  .services h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .features h3 {
    border-bottom: solid 2px var(--highlight);
    text-align: center;
  }

  .features svg {
    width: 150px;
    display: block;
    margin: auto;
    color: var(--light);
    opacity: .9;
  }

  .features svg:hover {
    color: var(--theme);
    opacity: .6;
  }

  .features,
  .rates,
  .team {
    width: 300px;
  }

  .rates {
    text-align: center;
  }

  /* Legal */
  .legal h1 {
    color: var(--dark);
  }

  /* Company */
  .company,
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .team {
    text-align: center;
  }

  /* Contact */

  .contact h2 {
    text-align: center;
    color: var(--theme);
    border-bottom: solid 2px var(--highlight);
  }

  .contact svg:hover {
    color: var(--theme);
  }
  
  .contact-form-text {
    margin: 1rem 0;
    padding: 0 1rem;
    outline: none;
  }
  
  textarea.contact-form-text {
    resize: none;
    height: 15rem;
  }
  .contact-form-btn {
    text-align: center;
    background: var(--light);
    color: var(--secondary);
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  
  .contact-form-btn:hover {
    background: var(--theme);
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
  }
  
  .contact-form-text:focus {
    outline: solid 2px var(--theme);
  }
  
  input[type="text"]:valid,
  input[type="email"]:valid {
    background-color: var(--theme);
  }
  
  .fa-email,
  .fa-github,
  .fa-facebook,
  .fa-twitter,
  .fa-linkedin {
    width: 35px;
    color: var(--light);
  }
  
  .contact ul {
    text-align: center;
    padding: 25px;
  }
  
  .contact li {
    padding: 5px;
    display: inline;
    line-height: 3rem;
    list-style: none;
  }
  
  button,
  input,
  textarea {
    display: block;
    width: 100%;
    height: 3rem;
    border: 0;
    border-radius: 0.5rem;
    background: var(--light);
    color: var(--secondary);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  
  /* Media Queries */

@media screen and (max-width: 600px) {

  /* main padding to be removed at the end */
    #main {
      padding-top: 50px;
      padding-bottom: 150px;
    }
  
    #logo,
    #menu,
    #main,
    article,
    section {
      width: 100%;
    }
  
    #logo {
      text-align: center;
    }
  
    #menu li {
      padding: 2px;
    }
  
    #menu ul {
      justify-content: space-evenly;
    }
  
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3,
    h4 {
      font-size: 1.3rem;
    }
}